$primary-color: #FF9900;
$primary-color-hover: #aa6800;
$secondary-color: #ffffff;
$dark-color: #454545;
$orange-color: #FF3D00;
$success-color: #00FF0A;
$bg-primary-color: #2D2D2D;
$bg-secondary-color: #1A1A1A;
